.footer-list:not(:last-child){
    margin-bottom: 9px;
}
.foter-link {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
      }
    .footer-adress{
        margin-right: 70px;
    }
    .footer-adress-geoposition{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
               font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
         color:  var(--light-maine-color); 
    }
             
.footer-adress-geoposition:hover,
.footer-adress-geoposition:focus,
.foter-link:hover,
.foter-link:focus{
color: var(--blue-maine-color);
}