.header-contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contact-list:not(:last-child){
margin-right: 50px;
}
.header-contact-list{
    display: flex;
    align-items: center;
    
}
.header-contact-link{
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--gray-maine-color);


}
.header-contact-link:hover,
.header-contact-link:focus{
color: var(--blue-maine-color);
}


.header-contact-list svg{
 margin-right: 10px; 
fill: currentColor;
}