
.form__title{
    margin-bottom: 12px;
    
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
    }
    .label{
    display: block;
    margin-bottom: 10px;
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--maine__color__secondery);
    
    }
    
    .label__box {
        display: block;
        position: relative;
        margin-top: 4px;
    }
    .label__field{
        display: block ;
        width: 100%;
        height: 40px;
        outline: none;
        
        padding-left: 35px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover{
            cursor: pointer;
        }
        
        &:focus{
            border:1px solid var(--accent__color);
             }
      
        }

    .label__icon{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    
        width: 18px;
        transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .label__field:focus+&{
            fill: var(--accent__color);
        }
    }
   
   
    
    
   
    .coment{
    display: block;
        margin-bottom: 20px;
    
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--maine__color__secondery);
    }
    .coment__field{
    margin-top: 4px;
    display: block;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        cursor: pointer;
    }
    &:focus{
    border: 1px solid var(--accent__color);
     }
     &::placeholder{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
         color: rgba(117, 117, 117, 0.5);
        }
    }
    
   
    .consent{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    
   
    .consent__text{
        display: flex;
        align-items: center;
        
        &:hover{
            cursor: pointer;
        }
        }
        .consent__text::before{
        content:"";
        display: inline-block;
        margin-right: 7px;
        
            width: 16px;
            height: 15px;
            border: 1px solid var(--maine__color__dark);
    
            font-size: 14px;
                line-height: 1.17;
                letter-spacing: 0.03em;
    transition:background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

           .consent__field:checked+ &{
                background-image:url(../images/icon\ check-blue\(1\).svg);
               
               background-position: center;
               }
               .consent__field:focus+& {
                   border-color: #2196F3;
               }
               
             .consent__field:focus &{
            border-color: var(--accent__color);
             }
    }
    
    
        
    .consent__link{
        @extend %link;

        color: var(--accent__color);
        text-decoration: underline;
    }
    
    .button__form{
        @extend %button;
        display: block;
    min-width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none;

    &:hover{
        cursor: pointer;
        background-color: #188CE8;
    }
    
    }
   
    
    