.header-nav{
    display: flex;
    align-items: center;
}

.header-list .header-link-items.current {
    color: var(--blue-maine-color);
}
.header-link {
    display: inline-flex;

}
.header-list:not(:last-child){
    margin-right: 50px;
}
.header-link-items{
    position: relative;
    display: flex;
    padding: 32px 0;

 font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--black-maine-color) ;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
