:root{
    --dark-background-maine:#2F303A;
    --blue-maine-color: #2196F3;
    --gray-maine-color: #757575;
    --black-maine-color: #212121;
    --praimary-fontfamily:'Roboto', sans-serif;
    --secondery-fontfamily:'Raleway', sans-serif;
    --light-maine-color:#FFFFFF;
    --icon-backgraund:#F5F4FA;
    --gray-partner-color:#AFB1B8;

}